.cf:before, .cf:after { content: ''; display: table }
.cf:after { clear: both }
.cf { *zoom: 1 }
small, cite, code, em, th, i, b { font-size: 1em; font-style: normal; font-weight: 500 }
#linshi { margin-right: 0px }
#linshi a { font-size: 12px; color: #FF2968; margin-top: 5px; padding-right: 5px; }
#linshi a:hover { text-decoration: none }
.np-title .np-index-link { margin-right: 18px; color: #FF2968; }
#myCowComment { margin-right: 5px }
.box_inner { border-bottom: 1px solid #e5e5e5 }
.box_inner .input_url { border: 0 none; background: none; width: 100%; text-indent: 5px; color: #333; height: 25px; line-height: 25px }
.box_inner .input_url:focus { outline: none }
.box_inner .insert_piclist { padding: 3px 0 3px 5px }
.box_inner, .box_inner .input_url, .box_inner .insert_piclist { display: none }
.insert_piclist .list_item { display: inline; float: left; margin-right: 3px; width: 44px; height: 44px; padding: 0; overflow: hidden; position: relative }
.insert_piclist .list_item .remove { position: absolute; right: 2px; top: 0; color: #666; visibility: hidden }
.insert_piclist .list_item_hover .remove, .insert_piclist .list_item:hover .remove { visibility: visible }
.insert_piclist .list_item .add_pic { font-family: 'microsoft yahei'; display: block; width: 42px; height: 42px; line-height: 42px; text-align: center; border: 1px dashed #b2b2b2; color: #b2b2b2; font-size: 36px }

.insert_piclist .list_item_hover .add_pic, .insert_piclist .list_item:hover .add_pic { text-decoration:none; border: 1px dashed #9b9b9b; color: #9b9b9b }
.insert_piclist .list_item input.add_file { opacity: 0; filter: alpha(opacity=0); /*width: 40px;*/ height: 44px; position: absolute; right: 0; top: 0; font-size: 30px; cursor: pointer }
.insert_piclist .list_item input.add_file:focus { outline: none }
.insert_piclist .list_item .iconbtn{cursor: pointer; z-index: 2; position: absolute; line-height: 14px; width: 14px; height: 14px; text-align: center;  padding: 0px; display: none; background: rgb(238, 238, 238);}
.insert_piclist .list_item .imgLeft{top: 20px; left: 0px;}
.insert_piclist .list_item .imgRight{top: 20px; right: 0px;}
.insert_piclist .list_item .remove{top: 0px; right: 0px;}
.insert_piclist .list_item .imgRemove{top: 0px; right: 0px;}

.sybol_pic{ display: inline-block;height: 12px; position: relative; *top:3px;}
.sybol_pic input.add_file { opacity: 0; filter: alpha(opacity=0); /*width: 45px;*/ height: 16px; outline: none; overflow: hidden; position: absolute; right: -2px; top: -2px; font-size: 300px; cursor: pointer }
.sybol_pic input.add_file:focus { outline: none }
.sybol_pic:hover{ color:#328BD2;}
#sybol_pic_reply  input.add_file {height: 35px;}

/*#sybol_pic_reply{ position: relative; display: inline-block;height: 14px;}
#sybol_pic_reply  .add_file { opacity: 0; filter: alpha(opacity=0); width: 40px; height: 35px; overflow: hidden; position: absolute; left: 0px; top: 0px; font-size: 300px; cursor: pointer }
#sybol_pic_reply  .add_file:focus { outline: none }
#sybol_pic_reply:hover{ color:#328BD2;}*/

#loginFlag .mod_post_list { display: inline-block; margin-left: 10px; font-size: 12px; height: 15px; *+position: relative; top: 6px; overflow: hidden;; }
#loginFlag .mod_post_list .list_item { padding-left: 20px; margin-right: 10px; cursor: pointer; position:relative;}
#loginFlag .mod_post_list .list_item i {  position: absolute;  left: 0 }
#loginFlag .mod_post_list .list_item .icon_face { position: relative; top: -2px }

.np-reply-box-info { display: inline-block; padding: 0; font-size: 12px }
.np-reply-box-info .sybol_pic { padding: 0; margin-right: 10px; cursor: pointer; margin-bottom: 0px;height: 13px;line-height: 12px; width: 43px;padding-top:15px;_padding-top:13px; overflow: hidden; }
.children .np-reply-box-info .sybol_pic{display:none}
.np-reply-box-info .sybol_pic i { margin-right: 3px; *position: relative; *top: -2px; _top: 0px;}
.np-reply-box-info .sybol_pic .icon_face { position: relative; top: -2px }

.list_w100 {height:auto;overflow:hidden}
.list_w100 .list_item{ padding-right: 4px;padding-bottom: 4px; float: left;display: inline-block;}
.list_w100 .list_item .figure { width: 100px; height: 100px;display: inline-block; overflow: hidden; }
.list_w100 .list_item .figure img { }


.icon_pic,.icon_face{display:inline-block;*display:inline;*zoom:1;background-color:transparent;
	background-image:url(//imgcache.gtimg.cn/tencentvideo_v1/vstyle/web/v3/style/quan/images/sprite_edit.png);
	background-image:-webkit-image-set(url(//imgcache.gtimg.cn/tencentvideo_v1/vstyle/web/v3/style/quan/images/sprite_edit.png) 1x,url(//imgcache.gtimg.cn/tencentvideo_v1/vstyle/web/v3/style/quan/images/sprite_edit@2x.png) 2x)}
.icon_pic{width:16px;height:12px;background-position:-121px -7px}
.icon_loading_pic{background: url(//mat1.gtimg.com/www/coral2.0/images/dots32.gif) no-repeat center center;}

/* reply  */
.children .np-reply-box-inline{ padding-left: 0px; border: none; margin-bottom: 22px; overflow: hidden;}
.np-timeline .children .np-reply-box-inline{margin-bottom: 0px; }
.np-reply-box-inline .np-reply-box-content{ border: none;border-bottom: 1px solid #e5e5e5;}
.np-reply-box-inline .np-reply-box-footer{ padding: 0 10px 0 5px;}
/*  |xGv00|f9960fe4727ce664fe249b90aad480cf */
