div,ul,li{margin:0;padding:0;}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.dis{display:block;}
.undis{display:none;}
.loginSmartTop,.loginSmartBottom{background-image:url(http://mat1.gtimg.com/www/images/qq2012/qqbg_1.5.2.png); background-repeat:no-repeat;}
a.login,a.login:hover,a.weiboLogin,a.weiboLogin:hover,a.qzoneLogin,a.qzoneLogin:hover,a.mailLogin,a.mailLogin:hover,a.pengyouLogin,a.pengyouLogin:hover,.mininavRight .weibo,.mininavRight .weibo:hover,.mininavRight .qzone,.mininavRight .qzone:hover,.mininavRight .mail,.mininavRight .mail:hover,.mininavRight .pengyou,.mininavRight .pengyou:hover{background-image:url(http://mat1.gtimg.com/www/images/qq2012/loginall_1.2.png); background-repeat:no-repeat;}
a.login{width:70px;height:28px;display:block;float:right;background-position:left -450px;}
a.login:hover{background-position:left -500px;}
a.weiboLogin{width:30px;height:28px;display:block;float:right;background-position:left -50px;}
a.weiboLogin:hover{background-position:right -50px;}
a.qzoneLogin{width:30px;height:28px;display:block;float:right;background-position:left -100px;}
a.qzoneLogin:hover{background-position:right -100px;}
a.mailLogin{width:30px;height:28px;display:block;float:right;background-position:left -150px;}
a.mailLogin:hover{background-position:right -150px;}
a.pengyouLogin{width:28px;height:28px;display:block;float:right;background-position:left -200px;}
a.pengyouLogin:hover{background-position:right -200px;}
.mininavRight{font-size:12px;}
.mininavRight .weibo{background-position:7px -244px;}
.mininavRight .weibo:hover{background-position:-79px -244px;}
.mininavRight .qzone{background-position:7px -294px;}
.mininavRight .qzone:hover{background-position:-74px -294px;}
.mininavRight .mail{background-position:7px -342px;}
.mininavRight .mail:hover{background-position:-77px -342px;}
.mininavRight .pengyou{background-position:7px -394px;}
.mininavRight .pengyou:hover{background-position:-76px -394px;}
.mininavRight{float:right;color:#c7c7c7;line-height:28px;}
.mininavRight a{color:#666;}
.mininavRight .qqNameLayout{margin-right:4px;}
.mininavRight .qqName{margin-right:12px;color:#666;float:left;}
.mininavRight .weibo{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:17px;}
.mininavRight .weibo:hover{color:#fff;background-color:#458fce;}
.mininavRight .qzone{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:22px;}
.mininavRight .qzone:hover{color:#fff;background-color:#458fce;}
.mininavRight .mail{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:19px;}
.mininavRight .mail:hover{color:#fff;background-color:#458fce;}
.mininavRight .pengyou{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:20px;}
.mininavRight .pengyou:hover{color:#fff;background-color:#458fce;}
.loginSmartBox{width:120px;height:auto;background:#fffbef;position:absolute;top:28px;z-index:100;}
.loginSmartTop{width:120px;height:3px;overflow:hidden;background-position:-350px -210px;}
.loginSmartBottom{width:120px;height:3px;overflow:hidden;background-position:-350px -230px;}
.loginSmartContent{width:118px;border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;}
.loginSmartInner{width:116px;border-left:1px solid #f4d9a4;border-right:1px solid #f4d9a4;}
.loginSmartInner ul{width:100%;padding:2px 0;}
.loginSmartInner li{width:100%;height:20px;line-height:20px;color:#666;text-indent:8px;}
.loginSmartInner li a{color:#666;}
.loginSmartInner li a:hover span{color:#cd0200;}
.loginSmartInner li a span,.loginSmartInner li a:hover span{font-family:Tahoma;}
#pengyouIcon{position:relative;z-index:10000;}
#mailIcon{position:relative;z-index:10000;}
#qzoneIcon{position:relative;z-index:10000;}
#weiboIcon{position:relative;z-index:10000;}
#loginOut:hover{text-decoration:underline;color:#cd0200;}
.loginBg{width:100%;position:absolute;top:0;left:0;z-index:8888;display:none;background:url(http://mat1.gtimg.com/www/images/qq2012/alphabg.png); _background:#000;_opacity:0.3_;filter:alpha(opacity=30);}
/*带一键登录全站迷你导航 v20130219 loginall @goldenchen*/
.mininav{width:100%;height:28px;background:#fdfdfd url(http://mat1.gtimg.com/www/images/qq2012/mininav.png) repeat-x top center;border-bottom:1px solid #ebebeb;}
.mininavInner{width:1000px;height:28px;margin:0 auto;}
.mininavInner a{color:#666;text-decoration:none;font-family:"宋体";}
.mininavInner a:hover{color:#2d374b;}
.mininavInner .mininavLeft{float:left;margin-top:8px;color:#c7c7c7;font-size:12px;}/*  |xGv00|935d452d0fd793b638ffbe2a1d2f6d73 */